:root {
  --primary-color: #5917d4;
  --secondary-color: #e9dffc;
  --font-family: "Roboto", sans-serif;
}

div.todoList {
  margin: 10px 20px;
  width: 500px;
  border-radius: 8px;
}

p {
  font-size: 20px;
  font-family: var(--font-family);
  color: var(--primary-color);
  text-align: center;
  padding: 10px 15px 15px 15px;
  margin-bottom: 0 !important;
}

span {
  color: #3f3d56;
  font-weight: 500;
}

#remaining {
  color: white;
  background-color: var(--primary-color);
  padding: 0 5px;
  font-size: 18px;
  border-radius: 4px;
}

div.allDone {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.allDone img {
  padding: 10px;
}

.allDone p {
  font-family: var(--font-family);
  font-size: 16px;
  color: #3f3d56;
  font-weight: 500;
  text-align: center;
  padding: 10px;
  text-transform: none;
  width: 100%;
}

div.allList {
  margin: 5px auto !important;
  padding: 0 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 400px;
  max-height: 390px;
  overflow: scroll;
}

div.task {
  color: var(--secondary-color);
  text-align: left;
  flex: 20px;
  font-size: 16px;
  padding: 5px 5px 5px 10px;
  margin: 5px 0;
  background-color: white;
  display: flex;
  flex-direction: row;
  border-radius: 4px;
  flex-wrap: wrap;
}

.task span {
  align-self: center;
  flex: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
button {
  background-color: inherit;
  border: 1px solid white;
}

button:focus,
button:focus:not(:disabled):not(.disabled) {
  box-shadow: none !important;
  outline: 0 !important;
}

i.fas.fa-check {
  color: var(--primary-color);
  opacity: 80%;
  font-weight: 600;
  padding: 5px;
  font-size: 14px;
}
i.fas.fa-trash {
  color: var(--primary-color);
  font-weight: 600;
  padding: 5px;
  font-size: 14px;
}

img {
  margin: 10px auto;
}
