:root {
  --primary-color: #5917d4;
  --secondary-color: #e9dffc;
}

.container {
  display: block;
  margin: 50px auto;
}

.todoApp {
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  max-width: 500px;
  margin: 10px auto;
  background-color: var(--secondary-color);
  padding: 20px;
}
header {
  margin-top: 10px;
  margin-bottom: 20px;
}

h1 {
  margin: 0 auto;
  font-size: 35px !important;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}

div.heading {
  margin: 0 auto;
  display: block;
  color: var(--primary-color);
  text-transform: uppercase;
}
