:root {
  --primary-color: #5917d4;
  --secondary-color: #e9dffc;
}

.form {
  margin: 10px auto;
}

form {
  margin: 20px auto 10px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
}

.todoForm {
  margin-bottom: 20px;
}

.todoInput {
  width: 320px;
  border: 1px solid #d2bef7;
  border-radius: 4px;
  height: 36px;
  background-color: #f6f9fa;
  padding-left: 5px;
}

div.formResults {
  display: flex;
  flex-direction: row;
}

input:focus,
input:active,
input:active:focus:not(:disabled):not(.disabled) {
  box-shadow: none !important;
  outline: 0;
}

.addButton {
  width: 35px;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  height: 35px;
  background-color: var(--primary-color);
}

button:focus,
button:active,
button:active:focus:not(:disabled):not(.disabled) {
  box-shadow: none !important;
  outline: 0;
}

.todoInput::placeholder {
  font-size: 14px;
  color: #3f3d56;
  opacity: 60%;
}

i {
  color: white;
}
