div.todoList {
  margin: 10px 20px;
  width: 500px;
  background-color: #2f3843;
  border-radius: 8px;
  overflow: auto;
}

p {
  font-size: 20px;

  color: #3fdaf4;
  text-align: center;
  padding: 10px 15px 15px 15px;
  margin-bottom: 0 !important;
}

span {
  color: #f6f9fa;
  font-weight: 500;
}
div.allDone {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.allDone p {
  font-size: 16px;
  color: #3fdaf4;
  text-align: center;
  padding: 10px;
  text-transform: none;
  width: 100%;
}

div.allList {
  margin: 5px auto !important;
  padding: 0 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 400px;
}

div.task {
  color: #f6f9fa;
  text-align: left;
  flex: 20px;
  font-size: 16px;
  padding: 5px 5px 5px 10px;
  margin: 5px 0;
  background-color: #1c2229;
  display: flex;
  flex-direction: row;
  border-radius: 4px;
  flex-wrap: wrap;
}

.task span {
  align-self: center;
  flex: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
button {
  background-color: inherit;
  border: 1px solid #1c2229;
}

button:focus,
button:focus:not(:disabled):not(.disabled) {
  box-shadow: none !important;
  outline: 0 !important;
}

i.fas.fa-check {
  color: #f6f9fa;
  font-weight: 600;
  padding: 5px;
  font-size: 14px;
}
i.fas.fa-trash {
  color: #3fdaf4;
  font-weight: 600;
  padding: 5px;
  font-size: 14px;
}

img {
  margin: 10px auto;
}
