div.todoList {
  margin: 10px 30px;
  flex: 500px;
  background-color: #2f3843;
  border: 1px solid #f6f9fa;
  border-radius: 8px;
}

p {
  font-size: 18px;
  color: #3fdaf4;
  text-align: left;
  padding: 15px 15px 5px 15px;

  margin-bottom: 0 !important;
}

span {
  color: #f6f9fa;
  font-weight: 500;
}
div.allDone {
  display: flex;
  align-items: center;
  width: 100%;
}

.allDone p {
  font-size: 16px;
  color: #3fdaf4;
  text-align: center;
  padding: 10px;
  text-transform: none;
  width: 100%;
}

div.allList {
  margin: 5px auto !important;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

div.task {
  color: #f6f9fa;
  text-align: left;
  flex: 20px;
  font-size: 16px;
  padding: 5px;
  margin: 5px 0;
}

button {
  background-color: inherit;
  float: right;
  border: 1px solid #2f3843;
}

button:focus,
button:focus:not(:disabled):not(.disabled) {
  box-shadow: none !important;
  outline: 0 !important;
}

i.fas.fa-check {
  color: #f6f9fa;
  font-weight: 600;
  padding: 5px;
  font-size: 14px;
}
i.fas.fa-trash {
  color: #3fdaf4;
  font-weight: 600;
  padding: 5px;
  font-size: 14px;
}
